<h1>Listing of Posts</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
      <td><%= link_to 'Show Post', post_path(post) %>
      | <%= link_to 'Edit Post', edit_post_path(post) %>
      | <%= link_to 'Destroy Post', post_path(post),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br><%= link_to 'New post', new_post_path %>
